# Dependencies
node_modules/

# Production builds
dist/
dist-ssr/

# Local env files (highly critical for safeguarding credentials!)
.env
.env.local
.env.*.local

# OS files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
